@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {height: 100%;}
body {
    margin: 0em;
    position: relative;
    height: 100%;
}

* {
    box-sizing:border-box
}


header a {
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 4rem;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 1px 1px rgb(68, 68, 68);
}

header a:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    padding:1.5em;
}

.logo {
    width: 5em;
    height: 5em;
}

form {
    padding: 5em
}

label {
    color: white;
    font-style: italic;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .5em;
}

.location {
    width: 1em;
    height: 1em;
}

.bar {
    background: white;
    border-radius: .5em;
    border: solid .5em rgba(59, 59, 59, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    margin: .5em;
    width: fit-content;
}

#sear-btn {
    width: 1em;
    height: 1em;
}

input[type=text] {
    width: 15em;
    border: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }



/* Slideshow container */
.slideshow-container {
    background: url(/img/Aswan1.jpg);
    position: relative;
    background-position-x: center;
    background-size: cover;
    height: 100%;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: .5em .5em;
    background-color: rgba(187, 187, 187, 0.26);
    border: solid 2px rgb(0,88,88);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dots {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom:0;
    padding-bottom: 2em;
}

.active, .dot:hover {
    background-color: rgb(0, 88, 88);
    width: 18px;
    height: 18px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media(min-width: 900px) {
      .slideshow-container {
          background-position-y: center;
      }

      input[type=text] {
        width: 25em;
        font-size: 1.1rem;
    }
  }